<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rekomendasi Buku</title>
  </head>
  <body>
    <form action="/" method="POST">
      <label for="">Masukkan Judul Buku</label>
      <input type="text" name="judul" id="judul" />
      <button type="submit">Cari Rekomendasi</button>
    </form>
    {% if recommendation %}
    <h2>Rekomendasi Buku</h2>
    {{ recommendation|safe }} {% endif %}
  </body>
</html>
