<!DOCTYPE html>
<html lang="en">
  {% include "includes/header.html" %}
  <body>
    {% include "includes/navbar.html" %}
    <div class="container my-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-6">
          <img
            src="static/hand-drawn-flat-design-stack-books_23-2149334862.avif"
            alt=""
          />
        </div>
        <div class="col-lg-6">
          <h1>Sistem Rekomendasi</h1>
          <p>
            Sistem rekomendasi merupakan suatu aplikasi untuk menyediakan dan
            merekomendasikan suatu item dalam membuat suatu keputusan yang
            diinginkan oleh pengguna. Pada sistem ini, website menyediakan
            sistem untuk merekomendasikan novel kepada pengguna
          </p>
          <br />
          <div class="row">
            <a href="/recommendation" class="btn btn-primary"
              >Cari Rekomendasi Novel</a
            >
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %}
  </body>
</html>
