<!DOCTYPE html>
<html lang="en">
  {% include "includes/header.html" %}
  <body>
    {% include "includes/navbar.html" %} {% if error %}
    <div class="container my-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="alert alert-danger" role="alert">{{ error }}</div>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12">
          <img
            src="../static/hand-drawn-flat-design-stack-books_23-2149334862.avif"
            alt=""
            class="text-center"
            width="200"
          />
        </div>
      </div>
    </div>

    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card bg-light">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <form action="/title" method="POST">
                    <div class="mb-3">
                      <label for="judul" class="form-label"
                        >Masukkan Judul Novel</label
                      >
                      <input
                        type="text"
                        name="judul"
                        id="judul"
                        class="form-control"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Cari Rekomendasi
                    </button>
                  </form>
                </div>
                <div class="col-md-6">
                  <form action="/keyword" method="POST">
                    <div class="mb-3">
                      <label for="keyword" class="form-label"
                        >Masukkan Kata Kunci</label
                      >
                      <input
                        type="text"
                        name="keyword"
                        id="keyword"
                        class="form-control"
                      />
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Cari Rekomendasi
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}
  </body>
</html>
